@model IEnumerable<ShopApp.Product>

@{
    ViewBag.Title = "Product";
    ViewBag.HeaderTitle = "List Product";
    Layout = "~/Views/Shared/_ShopLayoutPage.cshtml";
}

<a href="~/Shop/CreateProduct" class="btn btn-info btn-lg">Create New</a>

<table id="myTable" class="table table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Brand 
            </th>
            <th>
                Category
            </th>
            <th>
                Year
            </th>
            <th>
                Price
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.productName)
                </td>
                <td>
                    @item.Brand.brandName
                </td>
                <td>
                    @item.Category.categoryName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modelYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.listPrice)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.productId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.productId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.productId })
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--Dialog-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>